<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}">Profile</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bbs.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>
    <div th:insert="navigation::nav"></div>

    <div class="container-fluid main">
        <div class="row">
            <!-- left pad -->
            <div class="col-lg-9 col-md-12 col-sm-12">
                <h2 th:text="${sectionName}"> title </h2>

            </div><!-- left pad -->
            <!-- right pad -->
            <div class="col-lg-3 col-md-12 col-sm-12" style="margin-top: 20px">
                <div class="list-group">
                    <a href="/profile/posts" th:class="${section == 'posts'? 'active list-group-item': 'list-group-item'}"> 我的发布 </a>
                    <a href="/profile/replies" th:class="${section == 'replies'? 'active list-group-item':'list-group-item'}">
                        最新回复
                        <span class="badge">99+</span>
                    </a>
                </div>
            </div><!-- right pad -->
        </div>
    </div>
</body>
</html>